{
	"sourceMaps": "both",
	"presets": [
		["env", {
			"targets": {
				"browsers": ["> 1% in US", "last 2 versions", "safari >= 6"]
			},
			"modules": false
		}],
		"stage-1"
	],
	"plugins": [
		"external-helpers"
	]
}
